@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,700&display=swap');
@import 'colorgraphy.css';

* {
	font-family: 'DM Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
}

h1 {
	font-size: 72px;
	font-weight: 700;
	line-height: 96px;
}

h2 {
	font-size: 64px;
	font-weight: 700;
	line-height: 88px;
}

h3 {
	font-size: 48px;
	font-weight: 700;
	line-height: 64px;
}

h4 {
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	margin: 0px;
}

h5 {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	margin: 0px;
}

h6 {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin: 0px;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

a {
	text-decoration: none;
	color: var(--white);
}

.font-bold {
	font-weight: 700;
}

.font-medium {
	font-weight: 500;
}

.font-regular {
	font-weight: 400;
}

a {
  color: #333;
  text-decoration: none;
}