nav {
    position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;
    color: white;
}

.container {
	width: 80%;
	margin: 0px auto;
	display: flex;
	align-items: center;
	gap: 11px;
	padding: 30px 0px;
}

.page-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    padding-right: 30px;
}

.menu {
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.current-menu {
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-bottom-width: 50%;
    border-bottom: 3px solid #fed530;
}

.profile-search {
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    justify-content: flex-end;
}

.profile-picture {
    background: #1E1E1E;
    height: 48px;
    width: 48px;
    border-radius: 50px;
}